@page "/novaquestao"
@using info_app.Data
@inject QuestaoService service


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - EnemQuest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ZVr5A5B6Z1Gu5K5Cuu3Y6xERjL2uPdhl8LrPS4OYjZwKAxSt1veZ3zj3VxAAsjdu" crossorigin="anonymous">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f8f9fa;
        }

        .navbar {
            background-color: #343a40;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .navbar-brand {
            font-size: 1.5rem;
            color: #fff;
        }

        .navbar-dark .navbar-toggler-icon {
            border-color: #fff;
        }

        .navbar-toggler {
            border: none;
        }

        .navbar-nav .nav-link {
            color: #fff;
            transition: color 0.3s;
        }

        .navbar-nav .nav-link:hover {
            color: #007bff;
        }

        .btn-container {
            text-align: center;
        }

        .btn-container a {
            display: block;
            width: 300px;
            margin: 10px auto;
            border: 2px solid dodgerblue; /* Adicionei uma borda */
            border-radius: 5px; /* Borda arredondada */
        }

        .btn-dodgerblue {
            background-color: dodgerblue;
            color: #fff;
        }
    </style>
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">EnemQuest</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cadastro">Registrar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="row m-5">
        <div class="col-5 bg-light m-2 justify-content-start">
            <div class="p-3 mb-3 bg-primary text-white text-center">Nova Questao</div>
            <EditForm Model="@Quest">
            <div class="form-group">
                    <label for="nome">Pergunta:</label>
                    <input type="text" id="titulo" class="form-control" @bind-value="@Quest.QuestaoTitulo" />
            </div>
            <div class="form-group">
                    <label for="nome">Alternativa a:</label>
                    <input type="text" id="alternativa1" class="form-control" @bind-value="@Quest.Opcao1" />
            </div>
            <div class="form-group">
                    <label for="nome">Alternativa b:</label>
                    <input type="text" id="alternativa2" class="form-control" @bind-value="@Quest.Opcao2" />
            </div>
            <div class="form-group">
                    <label for="nome">Alternativa c:</label>
                    <input type="text" id="alternativa3" class="form-control" @bind-value="@Quest.Opcao3" />
            </div>
            <div class="form-group">
                    <label for="nome">Alternativa d:</label>
                    <input type="text" id="alternativa4" class="form-control" @bind-value="@Quest.Opcao4" />
            </div>
            <div class="form-group">
                    <label for="nome">Alternativa e:</label>
                    <input type="text" id="alternativa2" class="form-control" @bind-value="@Quest.Opcao5" />
            </div>
            <div class="form-group">
                    <label for="nome">Resposta:</label>
                    <input type="text" id="resposta" class="form-control" @bind-value="@Quest.Resposta" />
            </div>
            <div class="text-center p-3 mb-3">
                    <button class="btn btn-info" @onclick="AdicionarQuestao"> Adicionar Questão</button>
                </div>
            </EditForm>
            @if (questaoCadastrada)
        {
            <div class="alert alert-success" role="alert">
                Questão Salva com sucesso!
            </div>
        }
        <NavLink href="/questionario">Banco de Questões</NavLink>
            
        </div>
        </div>
</body>


@code {

public Questao Quest { get; set; } = new ();
    private bool questaoCadastrada = false;

    private async Task AdicionarQuestao()    {
        
        await service.AddQuestaoAsync(Quest);
        Quest = new ();
        questaoCadastrada = true;       
        
    }

}
