@page "/simulado"
@inject IJSRuntime JS
@using info_app.Data
@inject QuestaoService service

<h1>Simulado</h1>

@if (Questoes.Any())
{
    @foreach(var quest in Questoes)
    {
        
            <tr>
                <td>@quest.Id ) @quest.QuestaoTitulo</td>
            </tr>
            <tr>
                <td><input id = "Opcao1" type = "radio" name = "@quest.Id" class = "rb" value ="@quest.Opcao1"/>@quest.Opcao1</td>
                <td><input id = "Opcao2" type = "radio" name = "@quest.Id" class = "rb" value ="@quest.Opcao2"/>@quest.Opcao2</td>
                <td><input id = "Opcao3" type = "radio" name = "@quest.Id" class = "rb" value ="@quest.Opcao3"/>@quest.Opcao3</td>
                <td><input id = "Opcao4" type = "radio" name = "@quest.Id" class = "rb" value ="@quest.Opcao4"/>@quest.Opcao4</td>
                <td><input id = "Opcao5" type = "radio" name = "@quest.Id" class = "rb" value ="@quest.Opcao5"/>@quest.Opcao5</td>
                <label name = "@quest.Id" class = "rb" style = "display:none; color:forestgreen; font:bold;">@quest.Resposta</label>
            </tr>
        

    }
    <button id ="but1" type = "button" value ="Submit" class="btn-success" onclick="displayresults();">Submit</button>
    <label id ="lbluserres" ></label>


}
else
    {
    <tr><td colspan="6"><strong>Nenhuma questão disponível</strong></td></tr>
    }

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>

    $(document).ready(function(){
        $("#but1").click(function(){
            $(".rb").show();
            $(".rb").attr("disabled", true);
        });
    });

    function displayresults(){
        document.getElementById("lbluserres").innerHTML = "";
        var result = document.getElementsByTagName('input');
        for ( i=0; i<result.length; i++){
            if(result[i].type == "radio"){
                if(result[i].checked){
                     document.getElementById("lbluserres").innerHTML += "Q " + result[i].name + ")" +"Sua resposta selecionada é: " +result[i].value+"<br/>";
                }
            }

        }
    }
</script>


@code {

    List<Questao> Questoes = new List<Questao>();
    protected override async Task OnInitializedAsync()
    {
        await AtualizaQuestoes();
    }

    private async Task AtualizaQuestoes()
    {
        Questoes = await service.RetornaQuestaoAsync();
    }
}

